<div class="row">
    <div class="span8">
      <h1>Create Profile</h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span4">
        <% if flash[:notice] %>
            <div class="alert alert-info"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
            <div class="alert alert-warning"><%= flash[:error] %></div>
            <% if flash[:errors] %>
            <ul>
                <% flash[:errors].each do |e| %>
                    <li><%= e %></li>
                <% end %>
            </ul>
            <% end %>
        <% end %>
        <%= form_for @profile, :html => { :class => 'form-vertical' }, :url => { :action => "create" } do |f| %>
        <fieldset class="control-group">
            <%= label_tag :first_name, 'First Name' %>
            <%= f.text_field :first_name, :value => (@user['first_name'] if @user) %>
            <%= label_tag :last_name, 'Last Name' %>
            <%= f.text_field :last_name, :value => (@user['last_name'] if @user) %>
            <%= label_tag :gender, 'Gender' %>
            <%= f.select :gender, options_for_select({ :male => 'Male', :female => 'Female' }, 
                                    (@user['gender'] if @user)), :include_blank => 'Select One' %>
            <%= label_tag :birthdate, 'Date of birth:' %>
            <%= date_select :profile, :birthdate, :start_year => 1920, :end_year => Time.now.year, :order => [:month, :day, :year] %>
            <%= label_tag :height, 'Height' %>
              <%= select :height, :feet, (0..10).collect {|n| [n, n] } %> feet
              <%= select :height, :inches, (0..11).collect {|n| [n, n] } %> inches
            <%= label_tag :weight, 'Weight'%><%= f.text_field :weight %>
            <%= label_tag :description, 'Bio'%><%= f.text_area  :description, :rows => '4', :placeholder => "I love Crossfit" %>
            <%= f.submit "Save changes", :class => 'btn btn-primary' %>
        </fieldset>
        <% end %>
    </div>
    <div class="span2"><%= @user ? image_tag(@user['picture']) : image_tag('profiles/user_missing.png') %></div>
</div>
