<div class="row">
    <div class="span8">
      <h1>Create Profile</h1>
    </div>
    <div class="span8">
        <% if @user %>
            <div class="span2"><%= image_tag @user['picture'] %></div>
            <%= form_for @profile, :html => { :class => 'form-vertical' }, :url => { :action => "create" } do |f| %>
            <fieldset>
                <%= label_tag :first_name, 'First Name' %>
                <%= f.text_field :first_name, :class => 'uneditable-input', :value => @user['first_name'] %>
                <%= label_tag :last_name, 'Last Name' %>
                <%= f.text_field :last_name, :class => 'uneditable-input', :value => @user['last_name'] %>
                <%= label_tag :gender, 'Gender' %>
                <select name="gender">
                    <option value="male"<%= ' selected' if @user['gender'] == 'male' %>>Male</option>
                    <option value="female"<%= ' selected' if @user['gender'] == 'female' %>>Female</option>
                </select>
                <%= label_tag :height, 'Height'%><%= f.text_field :height, :placeholder => "6'5\""%>
                <%= label_tag :weight, 'Weight'%><%= f.text_field :weight, :placeholder => "145" %>
                <%= label_tag :description, 'Bio'%><%= f.text_area  :description, :placeholder => "I love Crossfit" %>
            </fieldset>
            <%= f.submit "Save changes", :class => 'btn btn-primary' %>
            <% end %>
        <% else %>
            <p>Sorry, but we were unable to pull your information from Facebook.</p>
        <% end %>
    </div>
</div>