<div class="row">
    <div class="span2">
        <% if @profile.picture %>
            <%= image_tag @profile.picture %>
        <% else %>
            <%= image_tag 'profiles/user_missing.png' %>
        <% end %>
    </div>
    <div class="span8">
        <h1><%= @title %></h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span8">
        <table class="table">
            <tr><td>Birthday</td><td><%= @profile.birthdate %></td></tr>
            <tr><td>Height</td><td><%= @profile.height %></td></tr>
            <tr><td>Weight</td><td><%= @profile.weight %></td></tr>
        </table>
        <p><%= @profile.description %></p>
    </div>
</div>
