<div class="row">
    <div class="span8">
        <h1><% if @profile.picture %>
            <%= image_tag @profile.picture %>
        <% else %>
            <%= image_tag 'profiles/user_missing.png' %>
        <% end %>&nbsp;
        <%= @profile.first_name %> <%= @profile.last_name %></h1>
    </div>
</div>


&nbsp;
<div class="row">
    <div class="span8">
        <table class="table">
            <tr><td>Birthday</td><td><%= @profile.birthdate.strftime '%B %d, %Y' %></td></tr>
            <tr><td>Height</td><td><%= @profile.height_str %></td></tr>
            <tr><td>Gender</td><td><%= @profile.gender %></td></tr>
        </table>
        <p style="padding-left: 8px;"><%= @profile.description %></p>&nbsp;
        <% if current_user.profile.id == @profile.id %>
            <%= link_to "Edit Profile", edit_profile_path('me'), :class => 'btn btn-primary' %>
        <% end %>
    </div>
</div>
