<div class="row">
    <div class="span8">
        <h1><% if @profile.picture %>
            <%= image_tag @profile.picture %>
        <% else %>
            <%= image_tag 'profiles/user_missing.png' %>
        <% end %>&nbsp;
        <%= @title %></h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span8">
        <table class="table">
            <tr><td>Birthday</td><td><%= @profile.birthdate.strftime '%B %d, %Y' %></td></tr>
            <tr><td>Height</td><td><%= @profile.height_str %></td></tr>
            <tr><td>Gender</td><td><%= @profile.gender %></td></tr>
        </table>
        <p><%= @profile.description %></p>
    </div>
</div>
