<div class="row">
    <div class="span8">
        <h2><%= link_to 'Back to Workouts', workouts_path %>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span6">
        <% if @workout.workout_category %>
        <h2><%= @workout.workout_category.category %>
      <% end %>
      <% if @workout.name %>
           - <%= @workout.name %></h2>
      <% end %>
      <% if @workout.description %>
          <%= @workout.description%><br />
      <% end %>
      <br />
      <h2>Components</h2> 
      <% @workout.exercises.each do |e| %>
        <% if e.exercise_category %>
          <strong><%= e.exercise_category.category %>:</strong><br />
        <% end %>
        <% if e.repetitions %>
            Repetitions: <%= e.repetitions %><br />
        <% end %>
        <% if e.weight %>
            Weight: <%= e.weight%> <%= e.units %><br />
        <% end %>
        <% if e.distance %>
             Distance: <%= e.distance %> <%= e.units %><br />
        <% end %>
        <% if e.rounds %>
            Rounds: <%= e.rounds %><br />
        <% end %>
        <% if e.description %>
            Description: <%= e.description %><br />
        <% end %>
        <br />
      <% end %>

      <% unless @workout.user_id == 1 %>
        <%= link_to 'Edit', edit_workout_path(@workout), :class => 'btn btn-primary'%>
        <%= link_to 'Delete', workout_path(@workout),
            :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-primary' %>
      <% end %>

    </div>
</div>

<div class="row">
    </br>
    <%= link_to "Do Workout", new_workout_record_path + "?workout=#{@workout.id}", :class => 'btn-large btn-primary' %>
</div>

