<div class="row">
    <div class="span8">
        <h2><%= link_to 'Back to Workouts', workouts_path %>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span6">
      <% unless @workout.user_id == 1 %>
        <%= link_to 'Edit Workout', edit_workout_path(@workout) %>
        <%= link_to 'Delete Workout', workout_path(@workout),
            :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      <% if @workout.workout_category %>
        <h2><%= @workout.workout_category.category %>
      <% end %>
      <% if @workout.name %>
           - <%= @workout.name %></h2>
      <% end %>
      <% if @workout.description %>
          Description: <%= @workout.description%><br />
      <% end %>
      <br />
      <h2>Components</h2> 
      <% @workout.exercises.each do |e| %>
        <% if e.exercise_category %>
          <strong><%= e.exercise_category.category %>:</strong><br />
        <% end %>
        <% if e.repetitions %>
            Repetitions: <%= e.repetitions %><br />
        <% end %>
        <% if e.weight %>
            Weight: <%= e.weight%> <%= e.units %><br />
        <% end %>
        <% if e.distance %>
             Distance: <%= e.distance %> <%= e.units %><br />
        <% end %>
        <% if e.rounds %>
            Rounds: <%= e.rounds %><br />
        <% end %>
        <% if e.description %>
            Description: <%= e.description %><br />
        <% end %>
        <br />
      <% end %>
    </div>
</div>
