<div class="row">
  <div class="hero-unit">
    <h1>Urban Crossfitters</h1>
    <p>Coming soon.</p>
    <% if current_user %>
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      Welcome <%= current_user.name %>!
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Connect With Facebook", "/auth/facebook" %></br>
      <%= link_to "Authenticate as Dev", "/auth/developer" %></br>
  </div>
</div>
<% end %>
