<div class="row">
    <div class="span8">
        <h1>View Health Record</h1>
        <h2><%= link_to 'Back to Records', health_records_path %>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span6">
      <h3><%= @record.date_recorded %></h3></br>
      <% if @record.systolic_bp && @record.diastolic_bp %>
          <b>Diastolic Blood Pressure: </b><%= @record.systolic_bp %><br />
          <b>Systolic Blood Pressure: </b><%= @record.diastolic_bp %><br />
      <% end %>
      <% if @record.weight %>
          <b>Weight: </b><%= @record.weight %><br />
      <% end %>
      <% if @record.resting_heart_rate %>
          <b>Resting Heart Rate: </b><%= @record.resting_heart_rate %><br />
      <% end %>
      <% if @record.calories_consumed %>
          <b>Calories Consumed: </b><%= @record.calories_consumed %><br />
      <% end %>
      <%= link_to 'Edit Record', edit_health_record_path(@record), :class => "btn btn-primary" %>
      <%= link_to 'Delete Record', health_record_path(@record),
            :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-primary" %><br />
    </div>
</div>
