<div class="row">
    <div class="span6">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="span6">
        <h3>Welcome <%= current_user.profile ? current_user.profile.first_name : current_user.username %>!</h3>
        <% if current_user.profile %>
          <p><%= link_to "View Profile", profile_path('me') %></p>
        <% else %>
          <p><%= link_to "Create Profile", new_profile_path %></p>
        <% end %>
        <p><%= link_to "View Calendar", '/calendar' %></p>
        <p><%= link_to "View Events", events_path %></p>
        <p><%= link_to "View Injuries", injury_records_path %></p>
        <p><%= link_to "View Goals", goals_path %></p>
        <p><%= link_to "View Health Records", health_records_path %></p>
        <p><%= link_to "View Workout Records", workout_records_path %></p>
        <p><%= link_to "View Workouts", workouts_path %></p>
        <p><%= link_to "View Exercises", exercises_path %></p>
        <p><%= link_to "View Personal Records", personal_records_path %></p>
        <p><%= link_to "Log out", logout_path %></p>
    </div>
</div>
<% if @wod %>
<div class="row">
    <div class="span6">
      <h3>Daily WOD for <%= @wod.date.strftime '%B %e, %Y' %></h3>
      <p><a href="<%= @wod.link or '#' %>"><strong><%= @wod.title %></strong></a></p>
      <p><pre><%= @wod.description %></pre></p>
      <p><%= link_to "Do Workout", new_workout_record_path + '?show_daily=true' %></p>
    </div>
</div>
<% end %>
