<div class="row">
    <div class="span8">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="span8">
        <% if flash[:notice] %>
            <div class="alert alert-info"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
            <div class="alert alert-warning"><%= flash[:error] %></div>
            <% if flash[:errors] %>
            <ul>
                <% flash[:errors].each do |e| %>
                    <li><%= e %></li>
                <% end %>
            </ul>
            <% end %>
        <% end %>
        <h3>Welcome <%= current_user.profile ? current_user.profile.first_name : current_user.username %>!</h3>
        <% if current_user.profile %>
          <%= link_to "View Profile", profile_path('me') %><br />
          <%= link_to "Edit Profile", edit_profile_path('me') %><br />
        <% else %>
          <%= link_to "Create Profile", new_profile_path %><br />
        <% end %>
        <%= link_to "Add Goal", new_goal_path %><br />
        <%= link_to "View Goals", goals_path %><br />
        <%= link_to "View Health Records", health_records_path %></br>
        <%= link_to "Log out", logout_path %><br />
    </div>
</div>
