<div class="row">
  <div class="span8">
    <h1>Urban Crossfitters</h1>
    <h2>Dashboard</h2>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    Welcome <%= current_user.name %>!</br>
    <% if !current_user.profile.nil? %>
      <%= link_to "View Profile", profile_path %></br>
    <% else %>
      <%= link_to "Create Profile", new_profile_path %></br>
    <% end %>
    <%= link_to "View Health Records", health_records_path %></br>
    <%= link_to "Log out", logout_path %>
  </div>
</div>
