<div class="row">
    <div class="span8">
        <h1>All Goals</h1>
    </div>
</div>&nbsp;
<div class="row">
  <div class="span8">
    <%= link_to "Add Goal", new_goal_path, :class => "btn btn-primary" %><br />
  </div>
</div>
<% if not @goals.size > 0 %>
    <div class="row">
        <div class="span8">
            <h3>You currently have no goals.</h3>
        </div>
    </div>
<% else %>
    <% @goals.each do |goal| %>
        <div class="row">
            <div class="span8">
                <h2><%= link_to goal.name, edit_goal_path(goal.id) %></h2>
                <p><%= goal.description %></p>
                <p><strong>Status: </strong>
                    <span class="label<%= ' label-success' if goal.status == 'complete' %>">
                    <%= goal.status %>
                    </span>
                </p>
                <p><strong>Deadline: </strong><%= goal.deadline %></p>
                <small style="font-size: small;"><%= link_to 'Permalink', goal_path(goal.id) %></small>
            </div>
        </div>
    <% end %>
<% end %>
