<div class="row">
    <div class="span8">
      <h1>Add Goal</h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span4">
        <%= form_for @goal, :html => { :class => 'form-vertical' }, :url => { :action => "create" } do |f| %>
        <fieldset class="control-group">
            <%= label_tag :name, 'Name' %>
            <%= f.text_field :name %>
            <%= label_tag :description, 'Description' %>
            <%= f.text_area :description, :rows => 4 %>
            <%= label_tag :status, 'Status' %>
            <select name="status">
                <option value="incomplete">Incomplete</option>
                <option value="complete">Complete</option>
            </select>
            <%= label_tag :deadline, 'Deadline' %>
            <%= date_select :goal, :deadline, :start_year => 1920, :order => [:month, :day, :year] %>
            <%= f.submit "Save changes", :class => 'btn btn-primary' %>
        </fieldset>
        <% end %>
    </div>
</div>
