<div class="row">
    <div class="span8">
        <h2><%= link_to @goal.name, edit_goal_path(@goal.id) %></h2>
        <p><%= @goal.description %></p>
        <p><strong>Status: </strong> 
            <span class="label<%= ' label-success' if @goal.status == 'Complete' %>">
            <%= @goal.status %>
            </span>
        </p>
        <p><strong>Deadline: </strong><%= @goal.deadline %></p>
    </div>
</div>