<div class="row">
    <div class="span8">
        <h2><%= link_to @injury.name, edit_injury_path(@injury.id) %></h2>
	<p><%= @injury.description %></p>
	<p><strong>Severity: </strong>
	    <span class="label">
	    <%= @injury.severity %>
            </span>
	</p>
	<p><strong>Injury Date: </strong><%= @injury.start_date %></p
	<% if @injury.end_date %>>
	<p><strong>Recovery Date: </strong><%= @injury.end_date %></p>
	<% else %>
	<p><strong>Recovery Date: </strong>><%= 'Ongoing' %></p>
	<% end %>>
    </div>
</div>
