<div class="row">
    <div class="span8">
      <h1>Edit Exercise</h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span4">
        <%= form_for @exercise, :html => { :class => 'form-vertical' }, :url => { :action => "update" } do |f| %>
        <fieldset class="control-group">
            <%= label_tag :repetitions, 'Repetitions' %>
            <%= f.text_field :repetitions %>
            <%= label_tag :weight, 'Weight' %>
            <%= f.text_field :weight %>
            <%= label_tag :rounds, 'Rounds' %>
            <%= f.text_field :rounds %>
            <%= label_tag :distance, 'distance' %>
            <%= f.text_field :distance %>
            <%= label_tag :units, 'units' %>
            <%= f.text_field :units %>
            <%= label_tag :description, 'description' %>
            <%= f.text_area :description %>
            <%= fields_for "exercise_category" do |ec| %>
              <%= label_tag :category, 'Category' %>
              <%= ec.select :category, @categories.collect{|c| [c.category, c.category]} + [['Other','Other']] %>
              <%= ec.text_field :category, :id => 'test', :name => 'test' %>
            <% end %>
            <%= f.submit "Create Exercise", :class => 'btn btn-primary' %>
        </fieldset>
        <% end %>
    </div>
</div>
<% #FIXME JS doesn't belong here, just testing swapping between select
   # and text field for category input %>
<script>

document.getElementById('exercise_category_category').onchange = function() {
    console.log("changed");
    if(this.selectedIndex != this.options.length - 1) {
        this.name = 'exercise_category[category]'
        this.id = 'exercise_category_category'
        box = document.getElementById('test')
        box.name = 'test'
        return;
    }
    this.id = 'supertest'
    this.name = 'test'
    box = document.getElementById('test').name = 'exercise_category[category]'
};
</script>
