<div class="row">
    <div class="span8">
        <h1>View Exercise</h1>
        <h2><%= link_to 'Back to Exercises', exercises_path %>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span6">
      <% unless @exercise.user_id == 1 %>
        <%= link_to 'Edit Exercise', edit_exercise_path(@exercise) %>
        <%= link_to 'Delete Exercise', exercise_path(@exercise),
            :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      <% if @exercise.exercise_category %>
        <%= @exercise.exercise_category.category %></br>
      <% end %>
      <% if @exercise.repetitions %>
          Repetitions:<%= @exercise.repetitions %><br />
      <% end %>
      <% if @exercise.weight %>
          Weight:<%= @exercise.weight%> <%= @exercise.units %><br />
      <% end %>
      <% if @exercise.distance %>
           Distance:<%= @exercise.distance %> <%= @exercise.units %><br />
      <% end %>
      <% if @exercise.rounds %>
          Rounds:<%= @exercise.rounds %><br />
      <% end %>
      <% if @exercise.description %>
          Description:<%= exercise.description %><br />
      <% end %>      
    </div>
</div>
