<div class="row">
    <div class="span8">
      <h1>Add Trainer</h1>
    </div>
</div>&nbsp;
<div class="row">
    <div class="span4">
        <%= form_for @trainer, :html => { :class => 'form-vertical' }, :url => { :action => "create" } do |f| %>
        <fieldset class="control-group">
            <%= label_tag :name, 'Name' %>
            <%= f.text_field :name %>
            <%= label_tag :description, 'Description' %>
            <%= f.text_area :description, :rows => 4 %>
            <%= f.submit "Save trainer", :class => 'btn btn-primary' %>
        </fieldset>
        <% end %>
    </div>
</div>
