<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Page' %> &mdash; Urban Crossfitters</title>
  <%= stylesheet_link_tag    "application", "bootstrap.min", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
